* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100dvh;
    background-color: #1e1e1e;
    background-image: url("/bg.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.message-container {
    margin-top: 10dvh;
    flex-grow: 1;
    overflow-y: auto;
    padding: 2dvw;
}

.message-input-container {
    display: flex;
    align-items: center;
	justify-content: center;
    position: sticky;
    margin-top: 1dvh;
    margin-bottom: 11dvh;
    margin-inline: 5dvw;
    height: 2dvh;
    bottom: 0;
}

.message-input {
    padding: 0.5em;
    border: 2px solid #5a5a5a;
	background: #5a5a5a;
	color: #fff;
    border-radius: 10px;
    font-size: 1em;
    min-width: 80%;
    max-width: 100%;
    resize: none;
    margin-right: 4dvw;
}

.message-input::placeholder {
	color: #fff;
}

.button-shared-style {
    background-color: rgba(128, 128, 128, 0.398);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
}

.button-shared-style:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #888;
}

.message {
    max-width: 65%;
    width: fit-content;
}

.message.sender {
    background-color: #dddddd;
    color: #000;
    align-self: flex-start;
    box-sizing: content-box;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 2dvw;
    padding: 1dvw 3dvw;
    border-radius: 10px;
    flex-basis: auto;
    word-wrap: break-word;
}

.message.receiver {
    background-color: rgba(73, 44, 246, 1);
    color: #fff;
    align-self: flex-end;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1dvw 3dvw;
    margin-left: 2dvw;
    border-radius: 10px;
    flex-basis: auto;
    word-wrap: break-word;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    color: #1a1a1a;
    padding: 0 20px;
}

.header-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 5.9vw;
    left: 20vw;
}

.header-image {
    width: 11vw;
    height: 5.5dvh;
    position: absolute;
    top: 2dvh;
    left: 5.5vw;
    border-radius: 10px;
}

.info-icon {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 3.5dvh;
    right: 7.5vw;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    width: 65dvw;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}
